.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .load-img {
    -webkit-animation: mymove 1s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 1s infinite;
}

@keyframes mymove {
    0% {width: 116px; opacity: 1;}
    50% {width: 102px; opacity: 0.3;}
    100% {width: 116px; opacity: 1;}
}